<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Let's volleyball</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css?v=1.0.2">
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/vb.js"></script>
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
  </head>
  <script type="text/template" id="players-template">
    <div class="row text-left font-weight-bold">
      <div class="col-2 col-md-1">#</div>
      <div class="col-4 col-md-3 col-lg-4">Name</div>
      <div class="col-4 col-md-3">Position</div>
      <div class="col-2 col-md-1 text-center">Paid</div>
      <div class="col-md-4 col-lg-3 d-none d-md-block"></div>
    </div>
    <% _.each( players, function( player, index ) { %>
      <hr />
      <div class="row form-inline text-left">
        <div class="col-2 col-md-1"><label><%= index + 1 %></label></div>
        <div class="col-4 col-md-3 col-lg-4"><label id="guest_name_<%= player.guest_id %>"><%= player.guest_name %></label></div>
        <div class="col-4 col-md-3"><input class="form-control" type="text" id="guest_position_<%= player.guest_id %>" value="<%= player.guest_position %>" /></div>
        <div class="col-2 col-md-1"><input class="form-control" type="checkbox" id="guest_paid_<%= player.guest_id %>" value="" <% if (player.guest_paid == 1) { %>checked<% } %> /></div>
        <div class="col-12 col-md-4 col-lg-3 text-right text-md-left">
          <div class="mt-3 d-block d-md-none"></div>
          <input type="button" class="btn btn-success" value="Update" onclick="update_guest(<%= player.guest_id %>)"/>
          <input type="button" class="btn btn-danger" value="Remove" onclick="remove_guest(<%= player.guest_id %>)"/>
        </div>
      </div>
    <% }); %>
    <hr class="bold" />
    <div class="row form-inline">
      <div class="col-2 col-md-1"><label><b>New</b></label></div>
      <div class="col-4 col-md-3 col-lg-4"><input class="form-control" type="text" id="guest_name_new" value="" placeholder="Name" /></div>
      <div class="col-4 col-md-3"><input class="form-control" type="text" id="guest_position_new" value="" placeholder="Position" /></div>
      <div class="col-2 col-md-1"><input class="form-control" type="checkbox" disabled /></div>
      <div class="col-12 col-md-4 col-lg-3 text-right text-md-left">
        <div class="mt-3 d-block d-md-none"></div>
        <input type="button" class="btn btn-success" value="Add player" onclick="add_guest(get_query_value('event_id'))" />
      </div>
    </div>
  </script>
  <script>
    var template = _.template($( "#players-template" ).html());
    $( "#players-template" ).remove();

    $(document).ready(function() {
      $.ajax({type: "POST",
        url: apiLink,
        data: {
          action: 'event',
          id: get_query_value('event_id')
        },
        success: function(response){
          var result = JSON.parse(response);
          if (result.status != 0) {
            alert(result.message);
          } else {
            const parse_format = 'DD.MM.YYYY HH:mm';
            const display_format = 'dddd, MMM Do YYYY [at] HH:mm';
            const m_date = moment(result.message.date, parse_format);
            $('#event_date').text(m_date.format(display_format));
            $('#event_location').text(result.message.location);
            // update both text and href attribute
            $('#payment_link').text(result.message.payment_link);
            $('#payment_link').attr('href', result.message.payment_link);

            $('.addeventatc .timezone').text('Europe/Amsterdam');
            $('.addeventatc .title').text('Let\'s volleyball @' + result.message.location + ' on ' + m_date.format(display_format));
            $('.addeventatc .description').text(result.message.date + ' ' + result.message.location);
            $('.addeventatc .location').text(result.message.location);

            $('.addeventatc .start').text(m_date.format(parse_format));
            $('.addeventatc .end').text(m_date.add(3, 'hours').format(parse_format));

            $( "#players" ).html(template( {players: result.message.guests} ));
          }
        },
        error: function(response){
          alert('server error');
        }
      });
    });
  </script>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-sm-12">
          <div class="row">
              <nav class="navbar col bg-light">
                <span class="navbar-brand">Let's volleyball</span>
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="events.html">All events</a>
                  </li>
                </ul>
              </nav>
          </div>
          <div class="row">
            <div class="col">
              <p>
                <strong>
                  <label id='event_date'>Loading...</label>
                  <label id='event_location'></label>
                </strong>
                &nbsp;
                <span title="Add to Calendar" class="addeventatc">
                    Add to Calendar
                    <span class="start"></span>
                    <span class="end"></span>
                    <span class="timezone"></span>
                    <span class="title"></span>
                    <span class="description"></span>
                    <span class="location"></span>
                </span>
                <br />
                Pay here: <a href="#" id='payment_link' target="_blank">Loading...</a>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div id="players"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
