body {
  padding-bottom: 30px;
}

.navbar {
  margin-bottom: 10px;
}

hr.bold {
  border-color: #000;
  border-width: 2px;
}

.form-inline label {
  text-align: left;
  justify-content: initial;
}

.form-inline .form-control {
  width: 100%;
}